{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}

<br />

{% endif %}
<br />
<h4><i class="fas fa-keyboard"></i>  Write a new toy review</h4>
<br />
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
Title:
<br />
<input type="text" name="title" />
<br />
Make:
<br />
<select name="make_name">
  <option value="Mezco">Mezco</option>
  <option value="Mafex">Mafex</option>
  <option value="S.H. Figuarts">S.H. Figuarts</option>
  <option value="Kaiyodo">Kaiyodo</option>
  <option value="Others">Others</option>
</select>
<br />
Comic:
<br />
<input type="text" name="comic_name" />
<br />
Review description:
<br />
<input type="textbox" name="description" />
<br />
Rating:
<br />
<input type="number" name="rating" min="0" max="10" />
<br />
Picture:
<br />
<input type="file" name="picture" />
<br />
<br />
<input class="btn btn-primary btn-sm" type="submit" value="POST" />
  </form>

{% endblock %}
