{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-3">
    <img src="" class="img-fluid" />
  </div>
  <h3>{{ toy.title }}</h3>
</div>

<div class="row">
  <div class="col-7">
    <p align="left"><em>Posted by </em><a href="{% url 'searchUserToy' toy.owner.id %}" >{{ toy.owner.first_name }}</a></p>
    <img src="{{ toy.picture.url }}" class="img-fluid" />
  </div>
    <div class="col-4">

    </div>
</div>

<div class="row">
  <div class="col-4 pt-2">
     <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-sm btn-block" style="height:26px;width:85px;">{{ toy.votes_total }} <i class="fas fa-grin-hearts"></i> COOL</button></a>
  </div>
    <div class="col-3 text-right pt-2">
    <p><i class="fas fa-clock"></i> {{ toy.pub_date_pretty }}</p>
    </div>
</div>

<div class="row">
  <div class="col-8">
    <p><em>{{ toy.description }}</em></p>
  </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' toy.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>


{% endblock %}
