{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}
<br />

{% endif %}

<h1>Sign up</h1>
<br />
<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
Name:
<br />
<input type="text" name="first_name" />
<br />
Username:
<br />
<input type="text" name="username" />
<br />
Password:
<br />
<input type="password" name="password1" />
<br />
Confirm your password:
<br />
<input type="password" name="password2" />
<br />
Email:
<br />
<input type="email" name="emailaddress" />
<br />
<br />
<input class="btn btn-primary btn-sm" type="submit" value="Sign Up" />
  </form>

{% endblock %}
